@if (variable-exists(atlas-theme)) {
	.has-success,
	.has-warning,
	.has-error {
		.control-label {
			color: $input-label-color;
		}

		.form-control {
			box-shadow: none;
			color: $input-color;

			&:focus {
				box-shadow: none;
			}
		}
	}

	.has-success {
		select.form-control {
			background-image: $input-select-success-icon;
			background-image: none \9;

			&:focus {
				@if ($input-select-success-icon-focus != null) {
					background-image: $input-select-success-icon-focus;
					background-image: none \9;
				}
			}
		}

		.checkbox label,
		.radio label {
			color: $state-success-text;
		}

		.form-control[readonly] {
			border-color: $state-success-border;
		}
	}

	.has-warning {
		select.form-control {
			background-image: $input-select-warning-icon;
			background-image: none \9;

			&:focus {
				@if ($input-select-warning-icon-focus != null) {
					background-image: $input-select-warning-icon-focus;
					background-image: none \9;
				}
			}
		}

		.checkbox label,
		.radio label {
			color: $state-warning-text;
		}

		.form-control[readonly] {
			border-color: $state-warning-border;
		}
	}

	.has-error {
		select.form-control {
			background-image: $input-select-danger-icon;
			background-image: none \9;

			&:focus {
				@if ($input-select-danger-icon-focus != null) {
					background-image: $input-select-danger-icon-focus;
					background-image: none \9;
				}
			}
		}

		.checkbox label,
		.radio label {
			color: $state-danger-text;
		}

		.form-control[readonly] {
			border-color: $state-danger-border;
		}
	}

	.form-group select.form-control[multiple] {
		background-image: none;
		background-position: 0% 0%;
		background-size: auto;
		padding: $input-padding-vertical $input-padding-horizontal;
	}
}